@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    max-height: 100dvh;
    width: 100vw;
    background: url("../public/SliderImages/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.swiper-slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}
.swiper-slide > div {
    margin-left: 1rem;
}

.swiper-pagination-bullet {
    background: #fef3c7;
    padding: 0.5rem;
}
